.outputBox {
    border: 10px solid blue;
    padding: 10px;
    text-align: center;
}

table,th,td {
    text-align: center;
    color: black;
    border : 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
