body {
    color: #f6f5f5;
    letter-spacing: 0.25em;
    background-color: #f6f5f5;
}

header {
    box-shadow: 0 0 12px rgb(63, 63, 63);
    background-color: #145374;
    text-align: center;
    padding: 10px;
}

img {
    width: 100%;
    height: 400px;
    box-shadow: 0 0 12px rgb(63, 63, 63);
}

form {
    box-shadow: 0 0 12px rgb(63, 63, 63);
    background-color: #00334e;
    text-align: center;
    align-items: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.selection_div {
    text-align: center;
}

.student_div {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
}

.student_div > div {
    padding-right: 5px;
    text-align: right;
}

.student_div > #hidden_div {
    padding-left: 2px;
    text-align: right;
}

.skill_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.skill_div > div {
    padding: 10px;
}

.location_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.location_div > div {
    padding: 10px;
}

button {
    width: 100px;
    height: 20px;
}

.buttons {
    padding: 10px;
}

.output_text {
    box-shadow: 0 0 12px rgb(63, 63);
    background-color: #00334e;
    text-align: center;
    align-items: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

footer {
    background-color:#ee6f57;
    box-shadow: 0 0 12px rgb(63, 63, 63);
    text-align: center;
    overflow: hidden;
    width: 100%;
    padding-bottom: 10px;
    color: white;
  }
  
  footer a {
    text-decoration: none;
    color: white;
  }
  
  footer a:hover {
    color: #fbd46d;
  }

  /* Large devices and down */
@media screen and (max-width: 992px) {
    body {
      flex: 100%;
      max-width: 100%;
    }
  }
  
  /* Medium Devices and down */
  @media (max-width: 768px) {
    body {
      flex: 100%;
      max-width: 100%;
    }
  }